.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: blue;
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
}

.Cuerpo{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Contenido{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  background: rgb(223, 221, 221);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
